
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Informacije.css" />

</head>
<body class="containter-fluid klasa">
    <header class="bg" style="height: 60px; text-align: center">
        <h1 style="text-align: center; margin-top: 30px; color: black"> Blood donor, life saver! </h1>
    </header>
    <hr />
    <br />
    <br />
    <div style="margin-left: 20px; width: 700px; display: inline-block; float: left">
        <h5> Krv može darivati svaki čovjek dobrog općeg zdravstvenog stanja:</h5>
        <ul style="line-height:180%">
            <li>Dob: od 18 do 65 godina, do 60 godina ako krv daje prvi put, do 70 godina 1-2 godišnje nakon pregleda i odluke liječnika specijalista transfuzijske medicine.</li>
            <li>Tjelesna težina: iznad 55 kg, proporcionalna visini.</li>
            <li>Tjelesna temperatura: do 37°C.</li>
            <li>Krvni tlak: sistolični 100 do 180 mm Hg, dijastolični 60 do 110 mm Hg.</li>
            <li>Puls: 50 do 100 otkucaja u minuti.</li>
            <li>Hemoglobin: muškarci 135 g/L, žene 125 g/L. 
        </ul>
        <h5>Vaše zdravlje nam je značajno i stoga svako darivanje krvi uključuje provjeru vašeg zdravstvenog stanja. </h5>
        <ul style="line-height: 180%; list-style-type: circle">
            <li>
                Provjera količine željeza u krvi:
                <ul><li>brzom metodom, iz kapljice krvi dobivene laganim ubodom u jagodicu prsta</li></ul>
            </li>
            <li>
                Kratki razgovor s liječnikom:
                <ul><li>provjera vašeg dosadašnjeg i sadašnjeg zdravstvenog stanja</li></ul>
            </li>
        </ul>
        <h5> Liječnički pregled:</h5>
        <ul style="line-height:180%">
            <li>Uključuje provjeru krvnog tlaka i provjeru rada srca. Tek kada smo sigurni da smijete dati krv započinje postupak uzimanja krvi. Darivatelj krvi je udobno smješten na krevetu za davanje krvi.</li>
            <li>Iskusan zdravstveni tehničar odabire venu u lakatnoj jami i bezbolno uvodi iglu u venu. Igla je povezana s plastičnom vrećicom u koju se daje krv. Samo darivanje krvi traje 8 - 12 minuta. Igla i plastična vrećica za uzimanje krvi su sterilne i samo za jednokratnu uporabu, tj. mogu se primijetiti samo za jednokratno darivanje.</li>
            <li>Davatelju nakon darivanja krvi slijedi kratkotrajni odmor uz osvježenje i lagani obrok. Sveukupno, darivanje krvi vam može oduzeti oko 30 minuta vašeg vremena.</li>
        </ul>
        <h5> Svakoj osobi koja odluči darivati krv kompjutorski otvaramo Karton darivatelja krvi, u  kojeg se uz osobne podatke unose i sljedeći podaci:</h5>
        
        <ul>
            <li>mjesto darivanja krvi</li>
            <li>broj trenutnog darivanja</li>
            <li>ime liječnika koji je pregledao darivatelja</li>
            <li>rezultat liječničkog pregleda prije darivanja</li>
            <li>razlozi za odgađanje od darivanja ili trajno isključenje</li>
            <li>nuspojave tijekom darivanja</li>
            <li>ime djelatnika koji je izvršio uzimanje krvi</li>
            <li>rezultate laboratorijskih ispitivanja krvi</li>
        </ul>
    </div>
    
    <div class="floated-element" style="text-align: center; display: inline-block; margin-left: 70px">

        <img src="~/Images/slika 2.png" width="600" />
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>
