@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background-color: white">
    <nav style="text-align: center">
        <img src="~/Images/Logo3.png" width="870" height="450" />
    </nav>

    <div style="text-align: center">
        <div style="text-align: center; display:inline-block">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login"> <img src="~/Images/loginn.png" height="220" width="240" /> </a>
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login"><b>LOGIN</b></a>
        </div>
        <div style="text-align: center; display:inline-block">
            <a href="/Gost/Index" class="nav-link text-dark">
                <img src="~/Images/Guest.png" height="228" width="220" />
            </a>
            <p>
                <a href="/Gost/Index" class="nav-link text-dark"><b>GOST</b></a>
            </p>
        </div>
    </div>

    <div style="position: fixed; bottom: 3px; left: 70px">
        <img src="~/Images/SaveLifeLogo.png" width="300" height="30" />
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - BloodAlliance - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>
