
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background-color: white">
    <div style="margin-top: 100px; text-align:center">
        <h1> Dobro došli u <b><span style="color:darkred">Blood Alliance</span></b>!</h1>
        <br />
        <h3><b>Spasi život, daruj krv!</b></h3>

        <h3> Da li ste znali da jedna donacija krvi može spasiti čak tri života? </h3>
        <h4> &nbsp;&nbsp; Saznajte sve informacije o procesu donacije krvi. </h4>
        <h3>Zanima vas šta može prouzrokovati odbijanje vaše donacije? </h3>
        <h4>&nbsp;&nbsp; Uradite brzi test kratkog pregleda bolesti i saznajte da li ste potencijalni donor. </h4>
    </div>
    <br />
    <div style="text-align: center">
        <div style="display:inline-block">
            <a href="/Gost/Informacije" class="nav-link text-dark">
                <img src="~/Images/voce.png" />
            </a>
            <a href="/Gost/Informacije" class="nav-link text-dark"><b>Infromacije</b></a>
        </div>
        <div style="display:inline-block">
            <a href="Test" class="nav-link text-dark">
                <img src="~/Images/meditacija.png" width="235" height="239" />
            </a>
            <a href="Test" class="nav-link text-dark"><b>Test</b></a>
        </div>
    </div>
    <a href="/Donor/Create" class="btn btn-danger" role="button" aria-pressed="true"> Kreiraj donora </a>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - BloodAlliance - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>
