
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "#SAVELIFEDONATEBLOOD";
}



@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/admin.css" />

</head>
<body class="container-fluid">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-danger border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BloodAlliance</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

            </div>
        </nav>
    </header>
    <div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <section class="form-container bg-danger">
                    <hr />
                    <form id="account" method="post">
                        <div class="form-group">
                            <a href="/Donor/Pretraga" class="btn btn-light btn-block"> Pretraga donora </a>
                        </div>
                        <div class="form-group">
                            <a href="/Donacija/Pretraga" class="btn btn-light btn-block"> Pretraga donacija </a>
                        </div>
                        <div class="form-group">
                            <a href="/Donor/Create" class="btn btn-light btn-block">Registracija donora</a>

                        </div>
                        <div class="form-group">
                            <a href="/Zahtjev/Index" class="btn btn-light btn-block">Pregled zahtjeva</a>

                        </div>
                    </form>
                </section>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
        </div>
    </div>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>





